
<ul>

    <% if (groupList) { %>
     
        <% for( let index = 0; index < groupList.length; index++ ) { %>
            <% let ele = groupList[index] ;  %>
            <p><a href="/<%= ele.name %>"><%= ele.name %></a></p>

            <% if ( ele.description.length > 100) { %>
                <p><%= ele.description.slice(0 , 100) %> ...</p>
            <% } else { %>
                <p><%= ele.description.slice(0 , 100) %></p>
            <% } %>
            

            <a href="/editgroup/<%= ele.name %>"><button>Edit !</button></a>
            <form action="/deleteGroup/<%= ele.name %>" method="post" style="display: inline;">
                <button style="background-color: rgb(231, 118, 118);">Delete </button>
            </form>
            <br>

        <% } %>
    

    <% } %>
    
    
</ul>