<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <!-- stylesheets -->
    <link rel="stylesheet" href="/stylesheets/style.css" />  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  
  </head>
  <body>

    <style>

      .buttons > a {
        margin : 0 0 0 10px;
      }

      div.alert {
        text-align: center;
      }
      

    </style>
    
    <%- include("partials/navbar") %>


      
    <% if (message && message.length > 0) { %>
      <div class="alert alert-primary" role="alert">
        <%= message %>
      </div>
    <% } %>


   
    <p style="display: inline; font-size: 1.5rem;">Channel : <%= title %>  </p>

    <div class="buttons" style="display: inline-flex;">
      <form action="/joinGroup" method="post" >
        <button type="submit" class="btn btn-primary" name="room" value="<%= title %>">Join Group</button>
      </form>
      <a class="btn btn-primary" href="/group/addUser/<%= id %>">
        <span>Add Users</span>
      </a>
      <a class="btn btn-danger" href="/group/removeUser/<%= id %>">
        <span>Remove Users</span>
      </a>
    </div>
    
    
    <ul id="messages">
      <% for( let index = 0; index < chats.length; index++ ) { %>
        <% let ele = chats[index]; %>
        <% if (ele.username === username ) { %>
          <li class="self">
        <% } else { %>
          <li class="other">
        <% } %>
        
          <span><%= ele.username %></span> : <%= ele.message %>
        </li>

      <% } %>

    </ul> 
 

    <div id="msgs">
    </div>



    <form id="form" action="">
      <input id="input" autocomplete="off" />
      <button type="submit">Send</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();

      var messages = document.getElementById('messages');
      var form = document.getElementById("form");
      var input = document.getElementById("input");
      const username = '<%= username %>'

      window.addEventListener("load", (event) => {
        console.log("page is fully loaded");
        socket.emit("add room" , { room : "<%=title %>"});
      });


      form.addEventListener("submit", function (e) {
        e.preventDefault();
        if (input.value) {
          socket.emit("chat message", { room : "<%=title %>" ,
          message : input.value ,
          room_id : '<%= id %>' ,
          user_id : '<%= user_id %>' ,
          username : '<%= username %>'
        });
          console.log( input.value );
          input.value = "";
        }
        console.log("<%=title %>");
      });

      function message_display( msg ){



        console.log(msg )
        console.log( $('#msgs').length )

      }

      function createMessageHTML(data) {
        var $msgs = $('#msgs');
        var $lastUserDiv = $msgs.children(':last-child');
        var $lastUserP = $lastUserDiv.children('p:first-child');
        
        if ($lastUserP.text() === data.username) {
          $lastUserDiv.append('<p class="chat">' + data.message + '</p>');
        } else {
          
          let temp ='';
          if (username === data.username){
            temp = "self";
          } else {
            temp = "other";
          }

          var $newUserDiv = $('<div class="user-' + data.username + ' ' + temp   + '">' +
                              '<p class="username">' + data.username + '</p>' +
                              '<p class="chat">' + data.message + '</p>' +
                            '</div>');
          $msgs.append($newUserDiv);
          
        }

        window.scrollTo(0, document.body.scrollHeight);
      }


      socket.on('chat message user', function(msg) {
        // var item = document.createElement('li');
        // if (username === msg.username){
        //   item.className = 'self';
        // }else{
        //   item.className = 'other';
        // }
        // item.innerHTML = '<span>' + msg.username + '</span> : ' + msg.message;
        // messages.appendChild(item);
        // window.scrollTo(0, document.body.scrollHeight);

        //message_display(msg)
        createMessageHTML(msg);
      });


      

      

    </script>
  </body>
</html>
