<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>

    <form action="/logout" method="post">
      <button type="submit" style="background-color: red;">Log Out</button>
    </form>

    <h1>Channel : <%= title %>  </h1>
    <form action="/createGroup" method="post">
      <button type="submit" style="background-color: blue;" name="room" value="<%= title %>">Create Group</button>
    </form>
    <br>
    <form action="/joinGroup" method="post">
      <button type="submit" style="background-color: blue;" name="room" value="<%= title %>">Join Group</button>
    </form>
    <br>
    <form action="/" method="post">
      <input type="text" name="roomName" id="" placeholder="Enter new room">
      <button type="submit"> GO! </button>
    </form>

    <ul id="messages"></ul>
    <form id="form" action="">
      <input id="input" autocomplete="off" />
      <button type="submit">Send</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();

      var messages = document.getElementById('messages');
      var form = document.getElementById("form");
      var input = document.getElementById("input");

      window.addEventListener("load", (event) => {
        console.log("page is fully loaded");
        socket.emit("add room" , { room : "<%=title %>"});
      });


      form.addEventListener("submit", function (e) {
        e.preventDefault();
        if (input.value) {
          socket.emit("chat message", { room : "<%=title %>" , message : input.value});
          console.log( input.value );
          input.value = "";
        }
        console.log("<%=title %>");
      });

      socket.on('chat message', function(msg) {
        var item = document.createElement('li');
        item.textContent = msg;
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
      });


    </script>
  </body>
</html>
